name: Update Template CI
on:
  schedule:
    - cron: "0 0 * * 1"
  repository_dispatch:
    types: [update_template]
  workflow_dispatch:
jobs:
  release:
    name: Build
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GH_PAT }}
      - name: Setup Node.js
        uses: actions/setup-node@v3.4.1
        with:
          node-version: 14
      - name: Update template
        run: npx update-template https://github.com/stethoscope-js/stethoscope
      - name: Commit new data
        uses: stefanzweifel/git-auto-commit-action@v4.9.2
        with:
          commit_message: ":arrow_up: Update @stethoscope-js to latest"
          commit_user_name: Stethoscoper
          commit_user_email: stethoscope-js@anandchowdhary.com
          commit_author: Stethoscoper <stethoscope-js@anandchowdhary.com>
